/** ======================================
 * Molecule : Components
 * ======================================= */
 .m-board{
  position: relative;
  width: 95%;
  height: 300px;
  margin: 0 auto;
  @media #{$mobileUp}{
    width: 450px;
    height: 420px;
  }
  @media #{$tabletUp}{
    width: 500px;
    height: 500px;
  }
  *{
    box-sizing:border-box;
  }
  .m-board__template{
    background-color: rgba(0,0,0,.8);
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .m-board__score{
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform:translate(-50%,-50%);
      color: #fff;
      font-size: 25px;
      span{
        font-size: 60px;
        color: yellow;
      }
    }
    &.show{
      visibility: visible;
    }
  }
  .m-board__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #fff;
    border: 2px solid var(--gridColor);
    border-radius: 10px;
    position: absolute;
    display: grid;
    grid-template: repeat(var(--colCount), 1fr) / repeat(var(--colCount), 1fr);

    .m-board__col {
      border: 2px solid var(--gridColor);
      border-radius: 2px;
      justify-content: center;
      align-items: center;
      position: relative;
      &:after{
        // opacity: 0;
      }
      &.diamond {
        background:#fff url('./diamond.png') no-repeat center center;
        background-size:60%;
      }

      &.arrow {
        background-color: yellow;
      }

      &.unknown {
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background:#f3f3f3 url('./question.png') no-repeat center center;
          background-size:60%;
          transition:opacity .3s ease;
          z-index: 1;
          opacity: 1;
        }
      }
      &.left  {
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background:#fff url('./arrow.png') no-repeat center center;
          background-size:60%;
          transform: scale(-1);
          z-index: 1;
        }
      }
      &.right  {
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background:#fff url('./arrow.png') no-repeat center center;
          background-size:60%;
          z-index: 1;
        }  
      }
      &.up  {
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background:#fff url('./arrow.png') no-repeat center center;
          background-size:60%;
          transform: rotate(-90deg);
          z-index: 1;
        }  
      }
      &.down  {
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background:#fff url('./arrow.png') no-repeat center center;
          background-size:60%;
          transform: rotate(90deg);
          z-index: 1;
        } 
      }
    }
  }
}
