//- Site informations
- var lang = 'fr'
- var path = './'

- var pathStyleguide = "/styleguide/"

//- Page informations
- var title = title || 'Board Game - Diamond'
- var metaDesc = metaDesc || 'Simple board game'

//- Templates classes
- var template = template || "t-base"
