extends ../layout/base

block content
  .l-wrapper
    .m-board
      .m-board__game
        #msg-template.m-board__template
          h3#board-game-score.m-board__score
        .m-board__container



